
main{
    #faq{
        color: rgb(255, 255, 255);
    }
    .accordion{
        .accordion-body{
            .text-acordeon{
                color: rgb(255, 255, 255);
            }
        }
        .bg-acordeon{
            background-color:$color_bg_boton_acordeon;
            box-shadow: $sombreado_negro;
        }
    }
    h2{
        button{
            box-shadow: none !important;
            background: rgb(0,0,0);
            background: linear-gradient(192deg, rgba(0,0,0,1) 0%, rgb(0, 0, 0) 18%, rgba(203,203,203,1) 100%);
            @include acordeon;
            @include acordeon2(italic, bold);
        }
    }
}
