header{
    height: 55px;
    z-index: 1;            
    nav{
        
        background: rgb(0,0,0);
        background: linear-gradient(12deg, rgba(0,0,0,1) 0%, rgba(43,41,41,1) 44%, rgb(76, 74, 77) 57%, rgba(203,203,203,1) 100%);
        }
        
        ul{
            li{
                a{
                    font-family: $mainFont;
                    color: rgb(255, 255, 255);
                    &:hover{
                        transform: scale(1.05);
                        transition: all ease 1s;
                    }
                }
            }
        }
    }


