main {

    .container {
        .carousel{
            font-size: 1vh;
        }

        img {
            margin: 20px 0 60px 0;
        }

        .logo-index {
            text-align: center;
            background-color: black;

        }
    }
}


